PLANETMINT_GO=planetmint-god
PLANETMINT_ADDRESS=plmnt15xuq0yfxtd70l7jzr5hg722sxzcqqdcr8ptpl5
RPC_HOST=planetmint-go-testnet-3.rddl.io:18884
RPC_USER=
RPC_PASS=
PM_RPC_HOST=127.0.0.1:9090
SERVICE_PORT=8080
SERVICE_BIND=localhost
REISSUANCE_ASSET=