PLANETMINT_GO=planetmint-god
PLANETMINT_ADDRESS=plmnt15xuq0yfxtd70l7jzr5hg722sxzcqqdcr8ptpl5
PLANETMINT_KEYRING=
RPC_HOST=testnet-explorer.rddl.io:18884
RPC_USER=
RPC_PASS=
SERVICE_PORT=8080
SERVICE_BIND=localhost